nbproject/*
.DS_Store


Makefile
Makefile.in
configure
config.h.in
config.h
config.log
config.status
stamp-h1
libtool
aclocal.m4
autom4te.cache/*
m4/*


*.o
build-aux/*
src/.dirstamp
src/.deps/
src/snowflaked-debug
src/snowflaked
src/sfbench
src/snowflake
tests/.deps/
tests/check_snowflake


clients/php-extension/Makefile.global
clients/php-extension/acinclude.m4
clients/php-extension/aclocal.m4
clients/php-extension/autom4te.cache/
clients/php-extension/build/
clients/php-extension/config.guess
clients/php-extension/config.h
clients/php-extension/config.h.in
clients/php-extension/config.nice
clients/php-extension/config.sub
clients/php-extension/configure
clients/php-extension/configure.in
clients/php-extension/install-sh
clients/php-extension/ltmain.sh
clients/php-extension/missing
clients/php-extension/mkinstalldirs
clients/php-extension/run-tests.php
clients/php-extension/tests/basic.diff
clients/php-extension/tests/basic.exp
clients/php-extension/tests/basic.log
clients/php-extension/tests/basic.out
clients/php-extension/tests/basic.php
clients/php-extension/.deps
clients/php-extension/.libs/
clients/php-extension/Makefile.fragments
clients/php-extension/Makefile.objects
clients/php-extension/modules/
clients/php-extension/php_snowflake.lo
clients/php-extension/snowflake.la
